* {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

@media screen and (orientation: portrait) {
  form {
    width: 100%;
    min-width: 300px;
  }
  #star {
    all: unset;
    width: 100%;
    min-width: 300px;
    text-align: end;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #conteiner {
    width: 25%;
    min-width: 375px;
    min-height: 812px;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 70%;
    background: rgba(247, 248, 251, 1);
    box-shadow: 80px 80px 100px rgba(96, 190, 255, 0.55);
    border-radius: 2rem;
  }
  #consol {
    width: 90%;
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: end;
    font-size: 1.5rem;
  }
  /*p {
  width: 100%;
  height: 50px;
  font-size: 2rem;
  text-align: right;
  overflow-wrap: break-word;
}*/
  h1 {
    width: 100%;
    height: 100px;
    font-size: 1rem;
    text-align: end;
    align-content: center;
  }
  #boton {
    width: 90%;
    height: auto;
    margin: 0 auto;
    color: rgba(56, 185, 255, 1);
    row-gap: 1rem;
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
  }
  #S201,
  #S211 {
    color: black;
  }
  #op div,
  #S221,
  #S231 {
    background: rgba(173, 226, 255, 1);
    color: rgba(56, 185, 255, 1);
  }
  #op div:hover,
  #S221:hover,
  #S231:hover {
    background: rgba(25, 172, 255, 1);
    color: white;
  }
  .simbolos:hover {
    box-shadow: -10px 10px 1rem rgba(96, 190, 255, 0.55);
    background: rgb(183, 191, 228);
    color: white;
  }
  .simbolos {
    min-width: 60px;
    min-height: 60px;
    color: rgba(56, 185, 255, 1);
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    border-radius: 25%;
  }

  #boton2 {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  #numeros {
    width: 75%;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
  }
  #Number101 {
    grid-column: 3/4;
    grid-row: 4/5;
  }
  #Number91 {
    width: 90%;
    border-radius: 20px 20px 20px 20px;
    grid-column: 1/3;
    grid-row: 4;
  }
  #op {
    width: 20%;
    display: grid;
    padding-top: 10px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;

    grid-template-rows: repeat(5, 1fr);
  }
  #S311,
  #S321 {
    height: 120px;
    border-radius: 20px 20px 20px 20px;
  }
  #S311 {
    grid-row: 2/4;
  }
  #S321 {
    grid-row: 4/6;
  }
}
@media screen and (orientation: landscape) {
  #conteiner {
    width: 80%;
    min-width: 700px;
    height: auto;
    max-height: 700px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(247, 248, 251, 1);
    box-shadow: 80px 80px 100px rgba(96, 190, 255, 0.55);
    border-radius: 2rem;
  }
  #consol {
    width: 100%;
    min-width: 700px;
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form,
  h1 {
    width: 80%;
  }
  input {
    all: unset;
    width: 100%;
    text-align: end;
  }
  h1 {
    text-align: end;
  }
  #boton {
    width: 100%;
    height: 35%;
    text-align: center;
    font-size: 1rem;

    color: rgba(56, 185, 255, 1);
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
  }
  #boton2 {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
  }
  #numeros {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }
  #numeros div {
    font-size: 1rem;
    text-align: center;
  }
  #op {
    width: 30%;
    height: auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    justify-items: center;
  }
  #Number91 {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .simbolos {
    width: 80%;
    height: 70%;
    min-width: 80px;
    min-height: 20px;
    color: rgba(56, 185, 255, 1);
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    border-radius: 2rem;
  }
  #S201,
  #S211 {
    color: black;
  }
  #op div,
  #S221,
  #S231 {
    background: rgba(173, 226, 255, 1);
    color: rgba(56, 185, 255, 1);
  }
  #op div:hover,
  #S221:hover,
  #S231:hover {
    background: rgba(25, 172, 255, 1);
    color: white;
  }
  .simbolos:hover {
    box-shadow: -10px 10px 1rem rgba(96, 190, 255, 0.55);
    background: rgb(183, 191, 228);
    color: white;
  }
}
